/* ----------HEADER---------- */
header img{
    box-shadow: 0px 3px 5px #00000030, 0px 1px 3px #00000030;
}

/* ---NAV--- */
nav h1 a{
    color: #ffffff;
}

nav h1 a:hover{
    color: #FFC548;
}

nav>.menu>div>li>a{
    color: #ffffff;
}

nav>.menu>div>li>a:hover{
    color: #FFC548;
    border-bottom: 1px solid #FFC548;
}

nav ul li .drop-down-menu li a{
    color: #00000080;
}

nav ul li .drop-down-menu li:hover{
    background-color: rgb(241, 184, 59);
}

nav ul li .drop-down-menu li a:hover{
    color: #000000;
}

nav ul li:hover>a{
    color: #FFC548;
}

/* ----------top----------- */
.top i{
    color: #6DD1CA;
}

/* ---------SECTION---------- */
/* ---title--- */
h2{
    color: rgb(14, 129, 138);
}

h2 i{
    color: rgb(255, 220, 66);
}

.title-line{
    background-color: rgb(109, 202, 209);
}

/* ----------LIST--------- */
/* 依照法考介紹(intro.html)設定 */
.list .list-group-item.active{
    background-color :rgb(109, 202, 209);
    border-color: rgb(109, 202, 209);
    color: #ffffff;
}

.list .content{
    background-color: rgba(217, 184, 77, 0.1);
}

.list .content h3{
    color: rgb(3, 102, 109);
}

.list .content h3 i{
    color: rgb(109, 202, 209);
}

.list .infor .content{
    padding-top: 0;
} 

.list .infor ol{
    list-style: square;
    padding-left: 3.5rem;
}

.list .infor ol li p{
    padding-bottom: 1rem;
}


/* ----------FOOTER---------- */
footer{
    background-color: rgb(6, 121, 129);
}

.pccu footer .large-side{
    width: 45%;
}

.pccu footer .footer-block .logo{
    width: 70%;
}

@media (max-width:560px){
    
    .block-text ul>.large,
    .block-text ul>li{
        width: 100%;
    }

    /* ----------nav---------- */
    nav{
        background-color: #6DD1CA;
    }

    nav .menu div>li>a,
    nav .menu li p {
        color: #6DD1CA;
    }

    /* --------list---------- */
    .list .title-line{
        margin: 1rem 0;
    }

    .list .infor ol {
        padding-left: 3rem;
    }

    
    /* --------footer-------- */
    .pccu footer .large-side,
    .pccu footer .footer-block .logo{
        width: 100%;
    }
}